section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/bg-github.jpg');
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .bg-container {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    overflow: auto;
    padding: 20px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.3);
     &::-webkit-scrollbar {
       width: 2px;
     }
  }
}
