<article>
  <!-- <div class="container"> -->
    <section class="info">
      <div class="image-profile">
        <img src="{{ user.avatar_url }}" alt="">
      </div>

      <div class="title-profile">
        <h2>{{ user.name }}</h2>
        <p>{{ user.bio }}</p>
      </div>

      <div class="icons-profile">
        <div class="box-ico org">
          <img src="assets/icons/organization icon.svg" alt="organization icon">
          <p class="ico-text">{{ user.company }}</p>
        </div>
        <div class="box-ico location">
          <img src="assets/icons/location icon.svg" alt="location icon">
          <p class="ico-text">{{ user.location }}</p>
        </div>
        <div class="box-ico star">
          <img src="assets/icons/star icon.svg" alt="star icon">
          <p class="ico-text">1.000.000</p>
        </div>
        <div class="box-ico repo">
          <img src="assets/icons/repositorie icon.svg" alt="repo icon">
          <p class="ico-text">{{ user.public_repos }}</p>
        </div>
        <div class="box-ico followers">
          <img src="assets/icons/followers icon.svg" alt="followers icon">
          <p class="ico-text">{{ user.followers }}</p>
        </div>
      </div>
    </section>

    <section class="repo">
      <div class="repo-content">
        <h2 class="repo-title">Death Star</h2>
        <p class="repo-subtitle">The most powerful weapon in the universe.</p>
        <div class="ico-star-repo">
          <img src="assets/icons/star icon.svg" alt="star icon">
          <p class="star-repo-count">4200</p>
        </div>
      </div>
      <div class="repo-content">
        <h2 class="repo-title">Death Star</h2>
        <p class="repo-subtitle">The most powerful weapon in the universe.</p>
        <div class="ico-star-repo">
          <img src="assets/icons/star icon.svg" alt="star icon">
          <p class="star-repo-count">4200</p>
        </div>
      </div>
      <div class="repo-content">
        <h2 class="repo-title">Death Star</h2>
        <p class="repo-subtitle">The most powerful weapon in the universe.</p>
        <div class="ico-star-repo">
          <img src="assets/icons/star icon.svg" alt="star icon">
          <p class="star-repo-count">4200</p>
        </div>
      </div>
      <div class="repo-content">
        <h2 class="repo-title">Death Star</h2>
        <p class="repo-subtitle">The most powerful weapon in the universe.</p>
        <div class="ico-star-repo">
          <img src="assets/icons/star icon.svg" alt="star icon">
          <p class="star-repo-count">4200</p>
        </div>
      </div>
    </section>
  <!-- </div> -->
</article>
