@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;1,200&display=swap');

* {
  font-family: 'Raleway', sans-serif;
}

html {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/bg-github.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #888;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #252525;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
}

.header-between {
  display: flex;
  justify-content: space-between;
  padding: 35px 0;
  align-items: center;

  @media screen and (max-width: 1060px) {
    display: block;
    text-align: center;
  }
}

.logo-home {
  h1 {
    font-size: 3.75rem;
  }
}

.logo-pages {
  h1 {
    font-size: 2.5rem;
  }
}

